<!-- HEADER -->
<div
  class="primary relative flex items-center justify-between p-4 font-extralight text-white"
>
  <div
    [routerLink]="'/home'"
    class="cursor-pointer font-cooper absolute top-1/2 left-4 flex -translate-y-1/2 transform flex-col text-center text-[14px] leading-3 font-semibold text-black"
  >
    <div class="text-[12px]">Biscoitos</div>
    <div>Bom Chefe</div>
  </div>

  <nav class="mx-auto">
    <ul class="flex space-x-6 text-amber-100">
      <li>
        <a [routerLink]="'/produtos'" class="hover:underline focus:text-black"
          >Produtos</a
        >
      </li>
      <li>
        <a [routerLink]="'/estoque'" class="hover:underline focus:text-black"
          >Estoque</a
        >
      </li>
      <li>
        <a [routerLink]="'/vendas'" class="hover:underline focus:text-black"
          >Vendas</a
        >
      </li>
      <li>
        <a [routerLink]="'/feiras'" class="hover:underline focus:text-black"
          >Feiras</a
        >
      </li>
    </ul>
  </nav>
  <div class="absolute top-1/2 right-4 -translate-y-1/2 transform">
    <button
      (click)="sair()"
      class="rounded px-6 text-[14px] py-1 border-[1px] border-black text-black transition cursor-pointer hover:bg-amber-800 font-semibold"
    >
      SAIR
    </button>
  </div>
</div>

<!-- LISTA DE VENDAS -->
<ng-container *ngIf="!loading; else loader">
  <div class="bg-primary min-h-screen flex flex-col items-center px-6 py-12">
    <div class="w-full max-w-8xl space-y-6">
      <div class="flex flex-col sm:flex-row justify-between items-center gap-4">
        <h2 class="text-2xl font-medium text-gray-900">Lista de vendas</h2>
        <div class="flex flex-col sm:flex-row gap-2 items-center">
          <input
            [formControl]="searchControl"
            type="text"
            placeholder="Pesquisar..."
            class="rounded-md border border-gray-500 bg-amber-50 px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-amber-500"
          />
          <button
            (click)="adicionarVenda()"
            class="rounded-md bg-amber-600 text-white cursor-pointer px-4 py-2 text-sm font-medium hover:bg-amber-700 transition"
          >
            Adicionar venda
          </button>
        </div>
      </div>

      <div class="overflow-x-auto rounded-lg shadow">
        <table class="min-w-full divide-y divide-gray-200 bg-amber-50">
          <thead class="bg-[#ae6639] text-amber-100">
            <tr>
              <th
                class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider"
              >
                Valor
              </th>
              <th
                class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider"
              >
                Local
              </th>
              <th
                class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider"
              >
                Data
              </th>
              <th
                class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider"
              >
                Ações
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 text-gray-700">
            <tr *ngFor="let venda of vendasFiltrados" class="transition">
              <td
                class="px-6 py-4 text-sm whitespace-nowrap truncate max-w-[406px]"
              >
                {{ venda.valor_total }}
              </td>
              <td
                class="px-6 py-4 text-sm whitespace-nowrap truncate max-w-[406px]"
              >
                {{ venda.feira.nome }}
              </td>
              <td class="px-6 py-4 text-sm whitespace-nowrap">
                {{ venda.data_venda | date:'dd/MM/yyyy'}}
              </td>
              <td class="px-6 py-4 text-sm whitespace-nowrap space-x-2">
                <button
                  (click)="excluirVenda(venda.venda_id)"
                  class="rounded bg-red-500 px-3 py-1 text-white hover:bg-red-600 transition"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div
    class="loader-container bg-primary flex justify-center items-center min-h-screen"
  >
    <div class="loader"></div>
  </div>
</ng-template>
