<!-- HEADER -->
<div
  class="primary relative flex items-center justify-between p-4 font-extralight text-white"
>
  <div
    [routerLink]="'/home'"
    class="cursor-pointer font-cooper absolute top-1/2 left-4 flex -translate-y-1/2 transform flex-col text-center text-[14px] leading-3 font-semibold text-black"
  >
    <div class="text-[12px]">Biscoitos</div>
    <div>Bom Chefe</div>
  </div>

  <nav class="mx-auto">
    <ul class="flex space-x-6 text-amber-100">
      <li>
        <a [routerLink]="'/produtos'" class="hover:underline focus:text-black"
          >Produtos</a
        >
      </li>
      <li>
        <a [routerLink]="'/estoque'" class="hover:underline focus:text-black"
          >Estoque</a
        >
      </li>
      <li>
        <a [routerLink]="'/vendas'" class="hover:underline focus:text-black"
          >Vendas</a
        >
      </li>
      <li>
        <a [routerLink]="'/feiras'" class="hover:underline focus:text-black"
          >Feiras</a
        >
      </li>
    </ul>
  </nav>
  <div class="absolute top-1/2 right-4 -translate-y-1/2 transform">
    <button
      (click)="sair()"
      class="rounded px-6 text-[14px] py-1 border-[1px] border-black text-black transition cursor-pointer hover:bg-amber-800 font-semibold"
    >
      SAIR
    </button>
  </div>
</div>

<!-- verificar loader abaixo -->
<ng-container
  *ngIf="!loading && feirasCarregadas && produtosCarregados; else loader"
>
  <div
    class="bg-primary min-h-screen flex font-extralight flex-col justify-center items-center px-6 py-12 lg:px-8"
  >
    <div class="sm:mx-auto w-full max-w-4xl">
      <h2 class="text-center text-2xl font-medium leading-9 text-gray-900">
        {{ estoque ? "Edição de estoque" : "Cadastro de estoque" }}
      </h2>
    </div>

    <div class="mt-6 w-full max-w-4xl">
      <form
        class="space-y-6 p-6 rounded-lg w-full"
        action="#"
        method="POST"
        [formGroup]="estoqueForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <label
            for="localizacao"
            class="block text-sm font-medium text-gray-700"
            >Selecione a localização</label
          >
          <select
            id="localizacao"
            name="localizacao"
            formControlName="localizacao"
            class="mt-1 w-full rounded-md border h-10 border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          >
            <option *ngFor="let feira of feiras" [value]="feira.nome">
              {{ feira.nome }}
            </option>
          </select>
        </div>
        <div>
          <label for="produto" class="block text-sm font-medium text-gray-700"
            >Selecione o produto</label
          >
          <select
            id="produto"
            name="produto"
            formControlName="produto_id"
            class="mt-1 w-full rounded-md border h-10 border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          >
            <option
              *ngFor="let produto of produtos"
              [value]="produto.produto_id"
            >
              {{ produto.nome }}
            </option>
          </select>
        </div>

        <div>
          <label
            for="quantidade"
            class="block text-sm font-medium text-gray-700"
            >Quantidade</label
          >
          <input
            type="number"
            name="quantidade"
            id="quantidade"
            formControlName="quantidade"
            class="mt-1 w-full rounded-md border border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          />
        </div>

        <div>
          <label for="lote" class="block text-sm font-medium text-gray-700"
            >Lote</label
          >
          <input
            type="text"
            name="lote"
            id="lote"
            formControlName="lote"
            class="mt-1 w-full rounded-md border border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          />
        </div>

        <div>
          <label for="data_validade" class="block text-sm font-medium text-gray-700"
            >Data de validade (ex: 2025-06-29 Ano-mês-dia)</label
          >
          <input
            type="text"
            name="data_validade"
            id="data_validade"
            formControlName="data_validade"
            class="mt-1 w-full rounded-md border border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          />
        </div>

        <div>
          <label for="data_producao" class="block text-sm font-medium text-gray-700"
            >Data de produção (ex: 2025-06-29 Ano-mês-dia)</label
          >
          <input
            type="text"
            name="data_producao"
            id="data_producao"
            formControlName="data_producao"
            class="mt-1 w-full rounded-md border border-gray-800 bg-white px-3 py-2 text-gray-900 shadow-sm focus:border-amber-600 focus:outline-none focus:ring-amber-600 sm:text-sm"
          />
        </div>

        <!-- Botão -->
        <div>
          <button
            [disabled]="isDisabled"
            type="submit"
            [ngClass]="{
              'bg-gray-400 cursor-not-allowed': isDisabled,
              'primary hover:bg-amber-500': !isDisabled
            }"
            class="flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-amber-600"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div
    class="loader-container bg-primary flex justify-center items-center min-h-screen"
  >
    <div class="loader"></div>
  </div>
</ng-template>
